    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }


    .container{
      display: flex;
      justify-content: center;
      flex-direction: column;
      z-index: 0;
position: relative;
    }
   
    .nav-head.blur{
        filter: blur(0px);
        -webkit-filter: blur(0px);
        background: rgba(77, 73, 73, 0.2);
    }
    #snap-logo.blur{
        filter: blur(1px);
        -webkit-filter: blur(1px);
    }
.nav-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 1em;
}
.main-img{
    margin-top: 2rem;
    position: relative;

}
#big-img{
   width: 100%;
}
.main-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}
#h2-main-text{
    display: flex;
    justify-content: center;
    margin-top: 1.6em;
    padding: 0 .1em  0 1.3em;
    line-height: 1.3em;
}
.bottom{
    color: white;
    background: black;
    border-radius: 1rem;
    padding: .4em 1.4em;
    border-style: none;
    width: 100%;

    

}
.logos{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    width: 100%;
margin-top: 2em;

}
.svg-logo{
   margin-left:.5em ;
}
.navlist{
    display: none;
}
.navlist-active{
    display: block;
}
ul{
    padding-left: 0;
}
#close-menu{
    display: none;
}
#close-menu.active{
    display: flex;
    justify-content: flex-end;
    padding-right: 1em;
}

#menu-button.active{
display: none;
}
.menu-content{
    display: none;
    background-color: rgb(255, 255, 255);
  position: absolute;
    right: 0em;
    top: 0;

}
.menu-content.active{
    display: flex;
    flex-direction: column;
    width: 65%;
z-index: 9999;
    min-height: 656px;  
    transition: all 0.3s ease-in;
        bottom: 0;
    overflow: hidden;
animation: dropdown .5s linear;

}

@keyframes dropdown{
0%{
     opacity :0;
}
100%{
     opacity:1;
}
}
.navlist ul li{
    list-style-type: none;
}
#nav-ul{
    margin:  .5em 1em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding:0 1em 2em  1em;
filter: blur(0);

}
#nav-ul li{
    margin-top: 1.5em;
}
.sub-f{
    display: flex;
    flex-direction: row;
    margin: 0;
}
#sub-features{
    margin-top: 1em;
    display: none;
}
#feature-div{
    display: flex;
    flex-direction: row;

}
h4{
 margin: 0;
    font-weight: 100;
    font-family: 'Epilogue',sans-serif;
}
#arrow-up{
    display: none;
}
.btn-f{
    margin-left: .3em;
    margin-top: 0em;
    padding: .4em 0 .2em 0;

}
#comp-ul{
    display: none;
    margin-top: 0;
}
#arrowCup{
display: none;
}
#Company-div{
    display: flex;
    flex-direction: row;
}
h5{
    margin: 0;
}
.comp-ul-h4{
    margin-left: 0;
}
#login-li{
    margin-top: 2rem;
    padding-left: 0em;
}
#reg-li{
    margin-top: 3.5rem;
}

#reg-btn{
    padding: .5em 4em .5em 4em;
    border: black 1px solid;
    border-radius: .5em;
    width: 100%;
        }
        #reg-btn:hover{
            cursor: pointer;
            background: black;
            color: white;
        }
#h1-main-text{
    font-family: 'Epilogue', sans-serif;
    font-weight: 900 lighter;
    font-size: 1.8em;
    margin-bottom:0;
    margin-top: 0;
    line-height: 1em;
    min-width: 100%;
}
h2{
    font-family: 'Epilogue',sans-serif;
    font-size: medium;
    font-weight: 500;
    color: hsl(0, 0%, 41%);
    padding: 0 .5em;
}
button{
    border-style: none;
    font-family: 'Epilogue',sans-serif;
}
.navlist-desktop{
    display: none;
}
.lower-li{
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.lower-li-out{
    display: none;
}
#desk-img{
    display: none;
}
#br-1{
    display: none;
}
#br-2{
    display: none;
}
#learn-btn{
    margin: auto;
    padding: 1em 0;
}
#br-l{
    display: none;
}
button{
    background-color: white;
}

.svg-logo{
    max-width: 4em;
}
#svg-label{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2em;
}
.main-content{
    padding: 0 .5em;
   

}
.main-content.blur{
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
    filter: blur(1px);
    -webkit-filter: blur(1px);
    z-index: -999;

}
a{
    font-weight: 100;
    font-family: 'Epilogue',sans-serif;
}
h3{
    font-family:'Epilogue',sans-serif;
}
.liun{
    margin: 0;
}
.bottom{
    padding: .1em 1em;
    font-size: .8em;
}













@media(min-width:990px ){

    
    #dropdown{
        display: none;
    }

    .menu-content{
        display: flex;
        flex-direction: column;
        position: static;
        justify-content: space-between;
        width: min-content;
        margin-left: auto;
        z-index: 0;
    }

    .navlist ,.navlist-active{
        display: flex;
        justify-content: flex-start;
        margin: -1 0 0 3em;
        padding: 0em;
        justify-content:space-around;
        z-index: -2;


    }
    #nav-ul{
        display: flex;
        flex-direction: row;
        margin: 0;
padding: 0;
    }
    li.liun{
        padding: 0;
        margin-left: -1em;
        cursor: pointer;
    }
    #nav-ul li{
        margin-top: 0;
        padding: 0;
    }
    .nav-head{
        padding: 1em  1em 0  1em ;
        display: grid;
        grid-template-columns: .5fr 1fr 3fr;
        offset: 5;
        justify-content: space-between;
    }
    .lower-li{
        display: none;
     float: right;
    }
    .lower-li-out{
display: flex;
justify-content: flex-end;
margin-top: -.5em;
    }
    .lower-li-out li{
        padding: 0 1em;
    }
    #reg-btn{
padding: .5em 1em;
border: black 1px solid;
border-radius: .5em;
    }
    #top-li{
        display: flex;
        float: left;
        justify-content: space-evenly;
    }
    .reg-li{
        list-style-type: none;
    }
    .li-t{
        padding: 1em;
    }
    #Company-div{
        padding: 0 0em;
        margin-right: 1em;

    }
    #company-li{
        margin-left: -1em;
        padding: 0;
    }
    #feature-li{
        padding: 0;
    }
    #top-li li{
        padding: 0 1em;
    }
    li.sub-f-li{
        margin: 0;
    }
    #reg-btn{
        height: max-content;
    }
    #log-btn{
        padding: .5em 1em;
    }
    .main-content{
        display: flex;
        flex-direction: row-reverse;
        padding:  2em 0  0 8em;
        margin-bottom: 5em;
        margin-right: 6em;
        position: absolute;
        top: 2em;
    }
    #big-img{
        display: none;
    }
    #desk-img{
    display: flex;
    height: auto;
    max-width: 100%;
    

    }
    .main-img{
    display: flex;
    justify-content: center;
width: fit-content;
    }

    .logos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    #h1-main-text{
        display: flex;
        font-size: 4em;
        padding:  0  0em 0em 0em;
        margin-top: 1.2em;
    }
    .main-text{
        justify-content: flex-start;
        margin-top: 1em;
        margin-bottom: 0;
        margin-left: 0;
    }
    .bottom{
        display: flex;
        margin-top: 0em;
        justify-content: flex-start;
        margin-left: 0;
    }
    #svg-label{
        display: flex;
        margin-top: 0em;
        justify-content: space-evenly;
        width: 70%;
        
    }
  

    #h2-main-text{
        display: flex;
        justify-content: flex-start;
        color: hsl(0, 0%, 41%);
        margin-top: 1em;
        padding-left: 0;
        font-size: 1.4em;
        font-weight:500 ;

    }
    #learn-btn{
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
    }
    #br-1{
        display: block;
    }
    #br-2{
        display: block;
    }
    #br-l{
        display: block;
    }
    button{
        background-color: white;
        cursor: pointer;
    }
    #comp-ul{
        padding-top: .7em;
        border: 1px solid white;
       border-radius: .5em;
       box-shadow: #acac9d8a 6px 6px 40px 2px;
       cursor: pointer;
   }
   a{
       cursor: pointer;
   }
   
   h4{
      margin-bottom: .8em;
      font-family:'Epilogue' sans-serif;
      font-weight: 100;
   }
   #sub-features{
       border: 1px solid white;
       border-radius: .5em;
       box-shadow: rgba(172, 172, 157, 0.586) 0px 7px 30px 2px;
       padding-top: .7em;
       cursor: pointer;
   }
}